@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Roboto condensed","Poppins", "sans-serif";
  }
  
  :root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #ff00d0;
  }
  html {
    font-size: 60%;
    overflow-x: hidden;
  }
  body {

    background: var(--bg-color);
  
    color: var(--text-color);
  }
  .design-work{
    background-image: url(public/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: var(--text-color);
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
  }
  .logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  .logo span {
    text-shadow: 0 0 25px var(--main-color);
  }
  .navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid var(--main-color);
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
  }
  #menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
  }
  
  section {
    min-height: 70vh;
    padding: 10rem 12% 10rem;
  }
  
  
.design-work {
    padding: 90px 20px;
    background-color: #0f0f0fa7;
    color: #fff;
    text-align: center;
  }
  
  .design-intro h2 {
    font-size: 4rem;
    margin:50px 0 20px;
    color: var(--main-color); /* Customize as per your palette */
  }
  
  .design-intro p {
    max-width: 700px;
    margin: 0 auto 50px ;
    font-size: 2rem;
    line-height: 1.6;
    color: #ccc;
    
  }
  
  .design-gallery {
    padding: 4rem 2rem;
    background: #111;
    color: #fff;
    text-align: center;
  }
  
  .design-gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--main-color);
  }
  
  .design-gallery p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #aaa;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 0 1rem;
  }
  
  .gallery-grid img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
  }
  
  .gallery-grid img:hover {
    transform: scale(1.05);
  }
  
  @media(max-width:991px){
    header{
      padding: 2rem 3%;
    }
   
    section{
      padding: 10rem 3% 2rem;
    }
  }  
  @media(max-width:895px){
    #menu-icon{
      display: block;
    }
    
    .navbar{
      position: absolute;
      top: 100%;
      right: 0;
      width: 50%;
      padding: 1rem 3%;
      background:rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(20px);
      border-bottom-left-radius: 2rem;
      border-left: 2px solid var(--main-color);
      border-bottom: 2px solid var(--main-color);
      display: none;
      flex-direction: column;
      display: none;
    }
    .navbar.active{
      display: block;
    }
    .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      color: white;
      border-bottom: 3px solid transparent;
      transition: 0.3s ease;
    }
    .navbar a:hover {
      border-bottom: 3px solid var(--main-color);
    }
  }  
  ::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
  }
  ::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
  }
  